@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.cabecalho{
    background-color:aliceblue;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
 
}

.container{
    position: relative;
}


.container-titulo{
    font-size: 80px;
    color: aliceblue;
    position:absolute;
    top: 15px;
    font-family: "Irish Grover", system-ui;

}
.container--dois{
padding: 20px;
margin-bottom: 25px;
font-family: "Open Sans", sans-serif;

}


.container--tres{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    background-color: antiquewhite;
    
}
.container--descricao2{
    display: flex;

}


.container--cinco{
    background-color:#C58356;
    display:flex;  
    flex-direction: column;  
    justify-content: flex-start; 
    }
.container--card{
    font-size:40px ;
}

.container--cinco{
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    text-align: center;
    
    
}

@media (min-width:1024px){
    .cabecalho{
        display: flex;
        align-items: center;
        justify-content:space-between;}

        .container {
            background-image: url("../img[]/vista-da-xicara-de-cafe-com-espaco-para-texto\ 1.png");
            height: 1000px;
            background-repeat: no-repeat;
            background-size: cover;  
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .container--img {
            width: 60%;
            height: 40%;
            font-family: "Istok Web", sans-serif;
            font-weight: 400;
            font-size: 50%;}

            .container--dois{
                padding: 30px;
                margin-bottom: 25px;
                font-family: "Open Sans", sans-serif;
                
                }


    }
    



